h2 {
    color:azure;
    font-size: 44px
}
html{
    background-color: navy;
}
p {
    color: blue;
    font-size: 20px;
}

ul {
    font-size: 55px;
}

ul li {
    color:palevioletred;


}

.verde {
    color:greenyellow;
}

.smallfont {
    font-size: 15px;
}

.red {
    color:red;
    font-size: 89px;
}

#lista{
    background-color: aliceblue;
}

/*/para Id use ' # ' 
   Para Classe use ' . ' 
*/ 