.verd{
    color: green;
    
    }
.vermei{
    color: red;
    
    }
.blue{
    color: blue;
    
    
    }
.pink{
    color:pink;
    
    }
.random{
    color: aquamarine;
    
    }

ol {
    font-size: 16px;
    }
    
p {
    font-size: 12px;
}    

img {
    height: 150px;
    width: 200px;
}

body {
    font-family: Helvetica;
}