h1 {
    font-size: 42px; color: #ff00ff;
}
h2 { 
    font-size: 28px; color: #00ff00;
}

img{
    width: 200px;
    height: 150px;
}

ul {
    background-color: #eeeeee;
    font-size: 14px;
}

.marrom {
    color: brown;
}
.laranja {
    color: orange;
}